<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techgeekme.ridar">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="53AGtlqF7HGKvlKO13Ch" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="Xl1pJ9ZHA5nJUWOi9EE6iQ" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="ku74UvTugp2sU3f3khRM7mJ5YEczDxdiADIO2E2UreztU6aiKZ16yzDPNP7n/OjNTQTPOoqAmvzozr0AtCxBU51kySvl6q/tMOD00xF21cDTE7i36CfzEbwzbgU1H0AzYhNNwNXV/xGBYVBb1M0sdjTfzceqo2TlIBDrMx+kBoJHnXE9ne4hAsxwIMODgrpHp9+XNxGcHRY55VBLoo0NzwQ2HXem91t+Hg3HvTFak4rL9g/cHmUOQIkZn2F6DuFmRcmlcwRiTVAERrqQodXQQzxYlllFGBgmcTJVgow3HflmSbeakEbj3SvV8KcmndCQ8DwhMYjROck6FB9qoD2OOQRnkxn//9cn/nAnekV7uEw/SU4pYG2EwIIJ5k6KfOSwZCj5jYFi6hXJyWMhwctfS4F+oJ8n7aSBQDbscsdB3YhBjgr4mkrJXYmfIR1qEYunQPZhQdWOZtshks5NOIKhV+KRGnRDWkF+zo0Cgix3/afgHTqHNDT2cpQFNjVqsc3HrZT1d/u+TS9DVBaIcyc1pfuDq6JFYVFLqeWTdDGAdZPVKLFWnda5w9D+UtwFh45bAVpMpjsDSaBUoG5PcpFwMRLu0rJP+7eJL1AXb5xCqB/NttDlxeIoAPUOTyi2esTYz8o5HKYWCPWGrs/Z8qvJAOjt2HnGfMw6g9Ddz/g0kdE=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService"></action>
            </intent-filter>
        </service>

        <activity android:name=".NavActivity"></activity>
    </application>

</manifest>