<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techgeekme.ridar">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.techgeekme.ridar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService"></action>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="XOXMFl7BYXxXmasM1Hhx" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="sK27jaiAPbBq6U67IyncfA" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="O8BcBUU+oeMbiGreNHzSmyyZSewJmIjNNMifafSWWvBxfo2EEsseeYIQH5ZU/cBdiYEzltmF9RHf6ZMz4aox9qP8pg/ed+eVoFZHuIk6VQrL6PH9uqekDOaNNgpa8FbJTBv9L+5LyN0m+Tigywn9qRZt/zH9UWTfm2dk5lIGs+uF0EyfXFScTmBAjrDRATKd6YnfH2nV4NH1sRKWFeJaWXrriprKzfhP4xfr5lbKEbv9vF5Fo9nUm2r/shOwokag5q2RVx60f+d1FpSPiz8XuQmjm/vY9x24KTw8DUAd1qHRIWcXA05hJs0WljyNsvVtgsfMppbmA0RmeeAZVxUC5D8SZZRKuZa2BcRDqOJ6fwm9inRCHyNYgY89NBQeoLXMc+/Ih/cT7UsSlUQMHZM+eCwWYDvnd4Pl92n7Mg7/G5a4SC3JhsXCpa20ru6yx3bXUmefO2BSrtyzyiFpBcqfl+r7Z2heae44dD6WCcFa0XluIn6rNg/N5F+w2x3ZMT5jrZDaw6j5yywJZFpAZ5WpKXC2MOTx4llE9c4ciZvC9erNOJJ+hTnyAQdQLtN/wFPzmR1sBfrsXZEoV1bkyrS22UeCENWKNJ/X2GYbPi/CskQmzwUrj2RDgDoH0gSxj7QaF1ROEuZMV4eHfkCWHEyhMdE2F0C9HOiTGDCjco4Rd40=" />
    </application>

</manifest>
